.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin: 45px 0 41px 27px;
    }
}
@media screen and (max-width: 659px) {
    .header__logo {
        width: 103.74px;
        height: 24.5px;
        margin: 28px 0 28px 27px;
    }
}