.popup__error {
    margin-top: 5px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 0, 0, 1);
    box-sizing: border-box;
    max-width: 358px;
    position: absolute;
    top: 25px;
    left: 0;    
}