.content__link {
    display: flex;
    align-self: center;
    border: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.content__link:hover {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
}

.content__link:active {
    opacity: 1;
}